header {
  background-color: rgb(232, 127, 6);
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
}

body {
  background-color: #f2f4f7;
}

* {
  font-family: sans-serif;
}

img {
  width: 50%;
  border-radius: 8px;
  display: block;
  margin: auto;
}