/* The background and default font */
body {
  background-color: #0d434d; 
  font-family: cursive;      
  font-size: 18px;          
  margin: 0;
  padding: 0;
}

/* The color of the headers */
#main_header, #collection_header {
  background-color: #093a43; 
  text-align: center;
  color: #ffffff; 
  padding: 20px 10px;
}
/* size of headers h1 and h2 */
#main_header h1, #collection_header h1 {
  font-size: 48px; 
  margin: 0;
}

#main_header h2, #collection_header {
  font-size: 32px; 
  margin: 5px 0 0 0;
}

#main_content, #collection_content {
  padding: 10px;
}

#page_footer {
  text-align: center;
  margin-top: 20px;
}

/* Font of the sections */
p, ul, ol, h2 {
  font-family: cursive;
  font-size: 18px;
  color: #D1E4E6;
}

h2 {
  text-align: center;
}

img {
  width: 20%;
  border-radius: 9px;
}

h2 {
  font-weight: bold;
  font-size: 22px; 
  color: #ffffff; 
}

@media (max-width: 600px) {
  .side_by_side {
    flex-direction: column;
  }
}
body {
    font-size: 16px;
}
.side_by_side {
  display: flex;
  gap: 20px;
  padding: 10px;
}

#materials, #steps, #content_summary, #flower_list {
  border: 2px solid #D1E4E6;
  background-color: #093a43;
  border-radius: 10px;
  padding: 15px;
}

.side_by_side section {
  flex: 1;
}

.image_container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 10px;
  flex-wrap: nowrap;
}

#page_footer a {
  color: #a8d8df;
  font-size: 20px;
}